.header {
    padding-top: 60px;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 60px;
    z-index: 2;
    background-color: #fff;

    a {
        text-decoration: none;
        color: #000;
    }
    &__menu {
        display: flex;
        font-size: 24px;
        width: 400px;
        margin: 0 auto;

        &__current {
            font-weight: bold;
        }
    }

    &__menu>a:first-child {
        margin-right: 35px;
    }

    &__menu>a:last-child {
        margin-left: 35px;
    }

    &__username {
        position: absolute;
        font-size: 24px;
        left: 14%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.hint {
    position: absolute;
    background-color: #fff;
    top: 100px;
    left: 50px;
    font-size: 18px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 15px 10px 35px;
    line-height: 30px;
    cursor: pointer;
}