.cabinet-layout-header {
    position: relative;
    display: flex;
    min-height: 150px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    z-index: 2;
    background-color: #fff;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        width: 84%;
        margin: 0 auto;
    }

    &__menu {
        display: flex;
        font-size: 24px;
        width: 400px;
    }

    &__link {
        text-decoration: none;
        color: #000;

        &.is-active {
            font-weight: 700;
        }

        &:first-child {
            margin-right: 70px;
        }
    }

    &__username {
        cursor: pointer;

        &__exit {
            margin-left: 10px;
            cursor: pointer;
        }

        &__theme {
            margin-right: 10px;
            cursor: pointer;
            display: inline-block;
            position: relative;
            top: 6px;
        }
    }
}

.hint {
    position: absolute;
    background-color: #fff;
    top: 100px;
    left: 50px;
    font-size: 18px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 15px 10px 35px;
    line-height: 30px;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cabinet-layout-header {
        min-height: 80px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .cabinet-layout-header {
        min-height: auto;
        background: #f9f8ff;
        box-shadow: none;

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            padding: 24px 20px;
        }

        &__username {
            margin-bottom: 20px;

            &__theme {
                display: none;
            }
        }

        &__menu {
            width: 100%;
            flex-direction: column;
        }

        &__link {
            margin: 0;

            &.is-active {
                border-bottom: 3px solid #7256FD;
            }

            &:first-child {
                margin-right: 0;
                // margin-bottom: 16px;
            }
        }
    }
}