.main-page {
    &__wrapper {
        width: 84%;
        margin: 0 auto;
        padding: 60px 0 100px;
    }

    &__item {
        // width: 85%;
        // margin: 0 auto;
        margin-bottom: 18px;

        &__last {
            margin-bottom: 200px;
        }
    }

    &__join {
        margin-bottom: 50px;
        font-size: 22px;
        color: #3023ae;
        cursor: pointer;
    }

    &__empty {
        margin: 100px auto;
        width: 65%;
    }

    &__alert {
        font-weight: bold;
        font-size: 30px;
        line-height: 1;
        text-align: center;
    }

    &__container {
        width: 60%;
        margin: 40px auto;
    }

    &__field {
        border-radius: 0;
    }

    &__button {
        margin-top: 40px;
        border-radius: 0;
    }

    &__loader {
        display: block;
        margin-top: 150px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .main-page {
        min-height: 100vh;
        background: #f9f8ff;
    }
}
