<div>
    <div *ngIf="user$ | async as user" class="header"  (mouseleave)="onMouseLeave()">
        <div class="header__menu">
            <div class="header__menu__current" (click)="goToMyRooms()">Мои комнаты</div>
        </div>
        <div class="header__username" (mouseover)="onMouseOver()">
            <div>
                {{user.name.lastName}} {{user.name.firstName}}
            </div>
            <div class="hint" *ngIf="hintVisible" (mouseleave)="onMouseLeave()">
                <div (click)="joinRoom()">Создать комнату</div>
                <div (click)="exit()">Выход</div>
            </div>
        </div>
        
    </div>
    <router-outlet></router-outlet>
</div>