<div>
    <div *ngIf="user$ | async as user" class="cabinet-layout-header"  (mouseleave)="onMouseLeave()">
        <div class="cabinet-layout-header__wrapper">
            <div class="cabinet-layout-header__username" (click)="onMouseOver()">
                <div>
                    {{user.name.lastName}} {{user.name.firstName}}
                </div>
                <div class="hint" *ngIf="hintVisible" (mouseleave)="onMouseLeave()">
                    <div (click)="joinRoom()">Создать комнату</div>
                    <div (click)="exit()">Выход</div>
                </div>
            </div>
            <div class="cabinet-layout-header__menu">
                <div class="cabinet-layout-header__link" [routerLink]="['/account/main']" routerLinkActive="is-active">Мои комнаты</div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>