<div class="create-room" [formGroup]="form">
    <h1 class="create-room__title">Добавить комнату</h1>
    <div>
        <tui-input class='create-room__field' formControlName="roomCode">
            Код комнаты
            <input tuiTextfield placeholder="" type="text" />
        </tui-input>
    </div>
    <div сlass="create-room__group" style="display: flex; justify-content: space-between;">
        <button tuiButton type="button" [disabled]="!form.valid" appearance="accent" class="create-room__group__button" (click)="addRoom()">
            Добавить
        </button>
        <button tuiButton type="button" appearance="outline" class="create-room__group__button" (click)="cancel.next()">
            Закрыть
        </button>
    </div>
</div>