.layout {
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    &__right {
        background: linear-gradient(171.2deg, #FE7451 6.55%, #FE7451 93.93%);
        min-height: 100%;
    }

    &__right_small {
        height: 100vh;
    }

    &__left {
        min-height: 100vh;
        padding: 100px;
        box-sizing: border-box;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__actions > div:first-child {
        margin-right: 30px;
    }

    &__unable {
        font-size: 36px;
        line-height: 42px;
        cursor: pointer;
    }

    &__current {
        font-weight: bold;
        font-size: 80px;
        border-bottom: 5px solid #FE7451;
        padding-bottom: 4px;
        cursor: pointer;
        line-height: 97px;
    }
}

@media (min-width: 1291px) and (max-width: 1440px) {
    .layout {
        &__left {
            padding: 80px;
        }

        &__current {
            font-size: 50px;
            line-height: 58px;
        }

        &__unable {
            font-size: 32px;
            line-height: 40px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1290px) {
    .layout {
        &__left {
            padding: 60px;
        }

        &__current {
            font-size: 40px;
            line-height: 48px;
        }

        &__unable {
            font-size: 24px;
            line-height: 28px;
        }
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .layout {
        display: block;

        &__right {
            display: none;
        }

        &__left {
            width: 100%;
            padding: 50px 45px 40px;
            background-color: #fff8f6;
        }

        &__current {
            font-size: 40px;
            line-height: 48px;
        }

        &__unable {
            font-size: 24px;
            line-height: 28px;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .layout {
        &__form-wrapper {
            padding: 20px;
        }

        &__current {
            font-size: 24px;
            line-height: 28px;
            border-bottom-width: 3px;
        }

        &__unable {
            font-size: 20px;
            line-height: 28px;
        }
    }
}
