<div class="container" *ngIf="room$ | async as room">
    <h1 style="position: relative; ">
        {{room.title}}
        <span>
            <button appearance="outline" style="border-radius: 0px; margin-top: 15px; padding: 0px; width: 30px;"
                tuiButton type="button" [tuiManualHint]="template" [tuiManualHintShow]="hintShown"
                (click)="toggleHint()">
                <span style="font-size: 30px; color:#000"><strong>?</strong></span>
            </button>
            <ng-template #template>
                <div tuiMode="onDark">
                    Код комнаты:<br>
                    <strong>{{room.code}}</strong>
                </div>
            </ng-template>
        </span>
    </h1>


    <span class="container__info__add_task" (click)="createTask()">Добавить задание</span>

    <ng-container *ngIf="tasks$ | async as tasks">
        <div *ngIf="tasks.length" class="container__current_task">Текущие задания:</div>
        <div *ngIf="!tasks.length" class="container__current_task">В этой комнате еще нет ни одного задания
        </div>
        <div *ngFor="let task of tasks; let i = index">
            <task-item [task]="task" [index]="i" (onDeleted)="taskSuccessHandler()"></task-item>
        </div>
    </ng-container>
</div>