<div *ngIf="task$ | async as task">
    <h1>Оценка работы</h1>
    <div class="title">{{task.title}}</div>
    <div style="position: relative;" style="margin-top: -30px">
        <div class="mark">Оценка {{mark}}/100</div>
        <div class="actions">
            <div *ngIf="!isRangeSaved" class="save" (click)="saveWork()">Сохранить</div>
            <div class="download" (click)="downloadWork()">
                Скачать работу
            </div>
            <!-- <div *ngIf="isRangeSaved" class="change" (click)="isRangeSaved = false">Изменить</div> -->
        </div>
        <input [disabled]="isRangeSaved" #range class="range" type="range" min="0" max="100" step="1" value="0"
            (input)="checkValue(range.value)">
        <div class="progress-bar"></div>
    </div>

    <div *ngFor="let proj of project">
        <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
            style="width: 100%; height: 500px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);">
        </pdf-viewer>
    </div>
</div>