<div class="wrapper">
    <div class="wrapper__main">
        <div class="wrapper__main__actions">
            <div class="wrapper__main__actions__menu">
                <div class="wrapper__main__actions__menu__scroll">
                    <div (click)="joinNewRoom()">
                        Присоединиться
                    </div>
                    <div (click)="selectActionValue('byAlphabetOrder')">
                        Фильтр по возрастанию
                    </div>
                    <div (click)="selectActionValue('reverseAlphabetOrder')">
                        Фильтр по убыванию
                    </div>
                </div>
                <div class="search-container">
                    <input #text type="text" id="search-bar" placeholder="Найти комнату"
                        (input)="filterItems(text.value)">
                    <a href="#"><img class="search-icon" src="assets/icons/search.svg"></a>
                </div>
                <div class="wrapper__main__actions__menu__filter">
                    <button-dropdown [text]="'Фильтровать'" [backgroundColor]="'#7256FD'" [textColor]="'#fff'"
                        [items]="filterList" (eventValue)="selectActionValue($event)">
                        <img style="margin-left: 65px; margin-right: 10px;" class="wrapper__main__actions__menu__filter__plus" src="assets/icons/arrow-white.svg">
                    </button-dropdown>
                </div>


            </div>
            <div class="wrapper__main__actions__button" (click)="joinNewRoom()">
                <div>
                    Добавить комнату
                </div>
                <img class="wrapper__main__actions__button__plus" src="assets/icons/plus.svg">
            </div>
        </div>
        <skeleton>
            <div main-content class="wrapper__main__content">
                <div *ngIf="filteredRooms.length" class="wrapper__main__content__container">
                    <div *ngFor="let i of filteredRooms; last as l; let ind = index">
                        <div class="wrapper__main__content__container__item" [ngClass]="{room__item__last: l}">
                            <room-item [roomId]="i.id" [roomCount]="ind + 1" [title]="i.title"
                                (onArrowClick)="navigateToRoom(i.id)">
                            </room-item>
                        </div>
                    </div>
                </div>

                <div *ngIf="notFoundRooms">
                    <div class="not-found">
                        <svg width="100" height="100" viewBox="0 0 62 62" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M55.2778 29.5961C55.2778 28.2154 54.1585 27.0961 52.7778 27.0961C51.3971 27.0961 50.2778 28.2154 50.2778 29.5961H55.2778ZM27.8889 7.5C29.2696 7.5 30.3889 6.38071 30.3889 5C30.3889 3.61929 29.2696 2.5 27.8889 2.5V7.5ZM48.3728 44.9116C47.3225 44.0154 45.7445 44.1402 44.8483 45.1905C43.952 46.2408 44.0769 47.8188 45.1272 48.715L48.3728 44.9116ZM57.3772 59.1684C58.4275 60.0646 60.0055 59.9398 60.9017 58.8895C61.798 57.8392 61.6731 56.2612 60.6228 55.3649L57.3772 59.1684ZM50.2778 29.5961C50.2778 41.7716 40.2819 51.6922 27.8889 51.6922V56.6922C42.9874 56.6922 55.2778 44.5886 55.2778 29.5961H50.2778ZM27.8889 51.6922C15.4959 51.6922 5.5 41.7716 5.5 29.5961H0.5C0.5 44.5886 12.7904 56.6922 27.8889 56.6922V51.6922ZM5.5 29.5961C5.5 17.4206 15.4959 7.5 27.8889 7.5V2.5C12.7904 2.5 0.5 14.6035 0.5 29.5961H5.5ZM45.1272 48.715L57.3772 59.1684L60.6228 55.3649L48.3728 44.9116L45.1272 48.715Z"
                                fill="#7256FD" />
                            <path d="M37 5L52 20" stroke="#7256FD" stroke-width="5" stroke-linecap="round" />
                            <path d="M52 5L37 20" stroke="#7256FD" stroke-width="5" stroke-linecap="round" />
                        </svg>
                        <div class="not-found__text">Поиск не дал результатов</div>
                    </div>
                </div>

                <div class="wrapper__main__alert" *ngIf="!allRooms.length">
                    УПС! Ни одной комнаты<br> не найдено <span style="color:#7256FD;">:(</span>
                </div>
            </div>

            <div skeleton-content class="wrapper__main__skeleton">
                <div class="wrapper__main__skeleton__item"></div>
                <div class="wrapper__main__skeleton__item"></div>
                <div class="wrapper__main__skeleton__item"></div>
                <div class="wrapper__main__skeleton__item"></div>
                <div class="wrapper__main__skeleton__item"></div>
                <div class="wrapper__main__skeleton__item"></div>
            </div>
        </skeleton>
    </div>
    <div class="wrapper__footer">
        <img src="assets/icons/long-logo.svg">
    </div>
</div>