<div class="room">
    <div class="room__empty" [formGroup]="controlsGroup">
        <div class="room__empty__alert">
            УПС! У Вас еще нет ни одной комнаты
        </div>
        <div class="room__empty__container">
            <div>
                <tui-input class='room__empty__code_field' formControlName="code">
                    Введите код комнаты
                    <input tuiTextfield placeholder="" type="text" />
                </tui-input>
            </div>

            <div>
                <button tuiButton type="button" appearance="primary" class="room__empty__button_login">
                    Войти
                </button>
            </div>
        </div>
    </div>
</div>