<div class="create-room">
    <ng-container>
        <h1 class="create-room__title">Вы действительно хотите удалить комнату?</h1>
        <div сlass="create-room__group" style="display: flex; justify-content: space-between;">
            <button tuiButton type="button" appearance="accent"
                class="create-room__group__button" (click)="submit.next(null)">
                Удалить
            </button>
            <button tuiButton type="button" appearance="outline" class="create-room__group__button"
                (click)="cancel.next()">
                Закрыть
            </button>
        </div>
    </ng-container>
</div>