<div class="room-members">
    <div *ngIf="user$ | async as user">
        <div class="room-members__title">
            Участники комнаты
        </div>
        <div class="room-members__subtitle">Преподаватель</div>
        <div class="room-members__block">
            <div class="room-members__avatar">
            </div>
            <div class="room-members__info">
                {{user.name.lastName}}
                {{user.name.firstName}}
                {{user.name.patronymic}}
                <!-- <div class="room-members__contacts">Контакты</div>
                <div class="room-members__value">{{user.phoneNumber}}</div>
                <div class="room-members__value">{{user.email}}</div>
                <div class="room-members__value">{{user.socialNetwork}}</div> -->
            </div>
        </div>


    </div>

    <div *ngIf="students && students.length">
        <div class="room-members__subtitle">Студенты</div>
        <div class="room-members__wrap" style="cursor: pointer;">
            <ng-container *ngFor="let student of students" class="room-members__content">
                <div class="room-members__profile" (click)="openStudentInfo(student)">
                    <div class="room-members__profile__avatar">
                    </div>
                    <div class="room-members__name">
                        {{student.lastName}}
                        {{student.firstName}}
                        {{student.patronymic}}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>