.container {
    width: 40%;
    height: 400px;
    margin: 15% auto;
    position: relative;

    h1 {
        color: #fff;
        text-align: center;
        margin-bottom: 40px;
    }

    &__button {
        width: 100%;
        border-radius: 0px;
        bottom: 30%;
        position: absolute;
    }

    &__login,
    &__password {
        border-radius: 0px;
        margin-bottom: 20px;
    }
}