.room-item {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    width: 100%;
    padding: 24px 0 0 24px;


    &__block {
        padding-bottom: 23px;
        margin-right: 100px;
    }

    &__title {
        font-size: 48px;
        line-height: 58px;
        width: 80%;
        margin-bottom: 37px;
        cursor: pointer;
        font-weight: 700;
    }

    &__count {
        margin-top: auto;
        font-size: 18px;
        cursor: auto;
    }

    &__number {
        color: #FE7451;
        font-weight: bold;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .room-item {

        &__menu {
            display: none;
        }
        padding: 20px;

        &__title {
            width: auto;
        }

        &__block {
            margin: 0;
        }
    }
}