.create-room {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 48px 48px 48px 48px;
    width: 576px;

    &__title {
        margin: 0;
        margin-bottom: 32px;
        font-size: 24px;
    }

    &__field,
    &__field {
        border-radius: 0px;
        margin-bottom: 16px;
    }

    &__group {
        background-color: red;
        display: flex;
        justify-content: space-between;

        &__button {
            // width: 100%;
            border-radius: 5px;
            margin-top: 60px;
        }
    }

    
}

button[data-size='l']:first-child {
    font-size: 24px;
}


button[data-size='l']:last-child {
    color: #FE5151;
    font-size: 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
    button[data-size='l']:first-child {
        font-size: 19px;
    }
    
    
    button[data-size='l']:last-child {
        color: #FE5151;
        font-size: 19px;
    }

    .create-room {
        width: 320px;
        height: 100%;

        
    }
}
