.list {
    display: block;
	margin: auto;
	width: 80%;
    h1 {
        text-align: left;
        font-weight: bold;
        font-size: 54px;
        margin-top: 60px;
    }

    &__room {
        font-size: 24px;
        margin-top: 80px;
        margin-bottom: 25px;
    }

    &__project {
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        height: 120px;
        margin-bottom: 20px;
        padding-left: 50px;

        &__title {
            font-size: 24px;
        }

        &__count {
            line-height: 60px;
            font-size: 18px;
            color: #767676;
        }
    }
}

.empty {
    margin: 150px auto;
    display: block;
    width: 80%;
}