<div class="room-item" (click)="redirect()" [ngClass]="{'from-group': fromGroup}">
    <div style="position: absolute; top: 20px; right: 0px;" class="room-item__menu">
        <popup-menu>
            <div style="color: red" (click)="delete($event)">Удалить</div>
        </popup-menu>
    </div>
   
    <div class="room-item__block">
        <div class="room-item__title">{{title}}</div>
        <div class="room-item__count">Количество участников &nbsp;&nbsp;<span class="room-item__number">{{allCount}}</span></div>
    </div>
</div>