<div class="container" *ngIf="room$ | async as room">
    <div class="container__menu">
        <ul>
            <li [routerLink]="['info']" routerLinkActive="container__menu__current">
                Комната
            </li>
            <li [routerLink]="['evaluate']" routerLinkActive="container__menu__current">
                Оценить работы
            </li>
            <li routerLinkActive="container__menu__current">
                Оцененные работы
            </li>
        </ul>
    </div>
    <div class="container__info">
        <router-outlet></router-outlet>
    </div>
</div>