// .button {
//     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 5px;
//     font-weight: 700;
//     font-size: 24px;
//     cursor: pointer;
//     padding: 14px 14px 14px 24px;
//     display: flex;
//     justify-content: space-between;
//     position: relative;
// }

// .list {
//     background: #FFFFFF;
//     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
//     border-radius: 5px;
//     margin-top: 12px;
//     position: absolute;
//     width: 350px;
//     right: 95px;
//     padding: 30px 0px 10px 48px;
//     box-sizing: border-box;
//     z-index: 10;

//     div {
//         margin-bottom: 36px;
//         font-size: 24px;
//         color: #292929;
//         width: 100%;
//     }

//     div:hover {
//         // background: #FFF1EE;
//         // border-radius: 5px;
//         // padding: 10px 0px 14px 24px;
//         // width: 80%;
//         // box-sizing: border-box;
//         font-weight: 500;
//     }
// }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 14px 14px 24px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    left: -120px;
    min-width: 100%;
    max-width: calc(100% + 120px);
    background: #FFFFFF;
    line-height: 30px;
    padding: 20px 10px 20px 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    // margin-top: 12px;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #292929;
    font-size: 24px;
    padding-bottom: 20px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .dropdown-content {
        min-width: auto;
        width: calc(100% + 120px);
        left: -120px;
        max-width: none;
    }
}