<div class="room-details-info" *ngIf="room$ | async as room">
    <div class="room-details-info__menu">
        <ul class="room-details-info__list">
            <li class="room-details-info__item" [routerLink]="['info']" routerLinkActive="is-active">
                Комната
            </li>
            <li class="room-details-info__item" routerLinkActive="is-active" [routerLink]="['member']">
                Участники</li>
            <li class="room-details-info__item">Работы
                участников
            </li>
            <li class="room-details-info__item" routerLinkActive="is-active" [routerLink]="['statistic']">
                Cтатистика
            </li>
        </ul>
    </div>
    <div class="room-details-info__info">
        <router-outlet></router-outlet>
    </div>
</div>