<div class="container" *ngIf="room$ | async as room">
    <div class="container__menu">
        <ul>
            <li [routerLink]="['info']" routerLinkActive="container__menu__current">
                Комната
            </li>
            <li routerLinkActive="container__menu__current" [routerLink]="['member']">
                Участники</li>
            <li>Работы
                участников</li>
            <li class="container__menu__statistic" [routerLink]="['statistic']">
                Cтатистика
            </li>
        </ul>
    </div>
    <div class="container__info">
        <router-outlet></router-outlet>
    </div>
</div>