.add-task {
    margin: 12px auto;
    width: 80%;
    
    &__field {
        border-radius: 0;
        margin-bottom: 18px;
    }

    &__error {
        margin-bottom: 18px;
    }

    &__button {
        width: 100%;
        border-radius: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .add-task {
        width: auto;
        margin: 0;
        &__title {
            margin-bottom: 34px;
            font-size: 36px;
            line-height: 40px;
        }
    }
}