.add-task {
    margin: 48px 24px 0 24px;

    &__title {
        padding: 48px 0 48px 48px;
        background: #FFF1EE;
        border-radius: 5px;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 48px;
        line-height: 60px;
    }

    &__group {
        background: #FFF1EE;
        border-radius: 5px;
        padding: 48px 48px 48px 48px;

        &__add-criteria {
            background: #FFFFFF;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            font-size: 24px;
            line-height: 30px;
            color: #FE7451;
            width: 306px;
            padding: 14px 0 14px 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__delete-criteria {
            background: #FFFFFF;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            font-size: 24px;
            line-height: 30px;
            color: #FE7451;
            width: 306px;
            padding: 14px 0 14px 24px;
            font-weight: 700;
        }
    }

    &__field {
        border-radius: 0;
        margin-bottom: 18px;
    }

    &__error {
        margin-bottom: 18px;
    }

    &__button {
        width: 100%;
        border-radius: 0;
    }

    &__container {
        display: flex;
        margin-bottom: 10px;

        &__button {
            width: 50%;
            border-radius: 0;
        }
    }
}


@media (min-width: 320px) and (max-width: 767px) {}