<div class="create-room" [formGroup]="form">
    <h1 class="create-room__title">Создать комнату</h1>
    <div>
        <tui-input class='create-room__field' formControlName="projectName">
            Название комнаты
            <input tuiTextfield placeholder="" type="text" />
        </tui-input>
    </div>
    <div>
        <tui-text-area class='create-room__field' formControlName="projectDescription">
            Описание комнаты
        </tui-text-area>
    </div>
    <div class="create-room__group">
        <button tuiButton type="button" [disabled]="!form.valid" appearance="accent" class="create-room__group__button" (click)="createRoom()">
            Создать
        </button>
        <button tuiButton type="button" appearance="outline" class="create-room__group__button" (click)="cancel.next()">
            Закрыть
        </button>
    </div>
</div>