.room {
    border-left: 6px solid #7256FD;
    background-color: #fff;
    height: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    line-height: 20px;
    padding: 18px 0 30px 30px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    &__arrow {
        position: absolute;
        top: calc(50% - 11px);
        right: 20px;
        cursor: pointer;
    }

    &__green {
        background-color: #17F5B333;
        border-left: 0px;
    }

    &__red {
        background-color: #FE515133;
        border-left: 0px;
    }

    &__yellow {
        background-color: #FBF10E;
        border-left: 0px;
    }

    &__id {
        font-size: 18px;
        color: #767676;
        margin-bottom: 35px;
    }

    &__title {
        font-size: 24px;
    }

    &__block {
        position: absolute;
        top: 10px;
        right: 20px;
    }
}

.block {
    cursor: default;
}