<div *ngIf="user$ | async as user" class="header">
    <div class="header__menu">
        <a [routerLink]="['/cabinet/main']" routerLinkActive="header__menu__current">Мои
            комнаты</a>
        <a [routerLink]="['/cabinet/works']" routerLinkActive="header__menu__current">Мои
            работы</a>
    </div>
    <div class="header__username">
        <div (click)="exit()">
            {{user.name.lastName}} {{user.name.firstName}}
        </div>
    </div>
</div>
<router-outlet></router-outlet>