<div *ngIf="user$ | async as user" class="cabinet-layout-header">
    <div class="cabinet-layout-header__wrapper">
        <div class="cabinet-layout-header__username">
            <div (click)="toProfile()">
                {{user.name.lastName}} {{user.name.firstName}}
            </div>
        </div>
        <div class="cabinet-layout-header__menu">
            <a class="cabinet-layout-header__link"[routerLink]="['/cabinet/main']" routerLinkActive="is-active">Мои
                комнаты</a>
            <a class="cabinet-layout-header__link" [routerLink]="['/cabinet/works']" routerLinkActive="is-active">Мои
                работы</a>
        </div>
    </div>
    <!-- <div class="hint" *ngIf="hintVisible" (mouseleave)="onMouseLeave()">
        <div (click)="joinRoom()">Присоединиться к комнате</div>
        <div (click)="exit()">Выход</div>
    </div> -->
</div>
<router-outlet></router-outlet>