<div>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Группа</th>
                <th>Задание</th>
                <th>Оценка</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let student of statistic">
                <tr>
                    <td>{{student.studentName.firstName}} {{student.studentName.lastName}} {{student.studentName.patronymic}}</td>
                    <td>{{student.group}}</td>
                    <td>{{student.projectTitle}}</td>
                    <td>{{student.finalMark}}/100</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>