.room-members {
    padding: 60px 0 100px;
    &__title {
        margin: 0;
        margin-bottom: 65px;
        font-size: 80px;
        line-height: 96px;
    }

    &__subtitle {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 38px;
        font-weight: 500;
    }

    &__block {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    &__avatar {
        width: 200px;
        min-height: 200px;
        background: linear-gradient(219.95deg, #7256FD 6.55%, #FE7451 183.42%);
    }

    &__info {
        flex: 1;
        padding: 20px 46px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        background-color: #fff;
    }
    
    &__username {
        margin-bottom: 20px;
    }

    &__contacts {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
    }

    &__value {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    &__profile {
        width: 200px;
        min-width: 200px;
        height: 200px;
        margin-right: 28px;
        margin-bottom: 28px;
        padding: 18px 20px;
        color: #fff;
        background: linear-gradient(199.27deg, #7256FD -0.49%, #FE7451 101.16%);
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        box-sizing: border-box;
    }

    &__modal-layout {
        position: fixed;
        filter: blur(1);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        backdrop-filter: blur(1px);
    }

    &__modal {
        position: absolute;
        transform: translateX(50%);
        top: 30%;
        right: calc(50%);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 24px;
        line-height: 28px;
        border-radius: 8px;
    }

    &__modal-close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    &__cell {
        display: flex;
        gap: 8px;
        align-items: baseline;
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__label {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
    }

    &__svg {
        fill: #7256FD;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .room-members{
        padding-top: 20px;
        background: transparent;
        &__title {
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 48px;
        }

        &__block {
            flex-direction: column;
        }

        &__avatar {
            width: 100%;
            height: 100px;
        }

        &__info {
            padding: 20px;
        }

        &__profile {
            width: 100%;
            margin-right: 0;
        }
        
        &__subtitle {
            font-size: 16px;
            line-height: 20px;
        }

        &__modal {
            top: auto;
            bottom: 0;
            right: 0;
            left: 0;
            transform: translate(0);
        }
    }
}
