<div class="container" *ngIf="!loading">
    <h1>Мой профиль</h1>
    <div class="container__profile">
        <div class="container__profile__avatar"></div>
        <div class="container__profile__username">
            <div class="container__profile__username__name">Пользователь</div>
            <div *ngIf="!nameUpdate" class="container__profile__username__forchange" (click)="nameUpdate = true">{{profile.name.lastName}} {{profile.name.firstName}} {{profile.name.patronymic}}</div>
            <input *ngIf="nameUpdate" class="container__profile__social__input name">
            <button class="saveButton" *ngIf="nameUpdate">Сохранить</button>
        </div>
        <div class="container__profile__phone">
            <div class="container__profile__phone__value">Контакты</div>
            <div *ngIf="!phoneUpdate" class="container__profile__phone__forchange" (click)="phoneUpdate = true">{{profile.phoneNumber}}</div>
            <input *ngIf="phoneUpdate" class="container__profile__social__input">
            <button class="saveButton" *ngIf="phoneUpdate">Сохранить</button>
        </div>
        <div class="container__profile__social">
            <div class="container__profile__social__value">Контакты</div>
            <div *ngIf="!socialUpdate" class="container__profile__social__forchange" (click)="socialUpdate = true">{{profile.socialNetwork}}</div>
            <input *ngIf="socialUpdate" class="container__profile__social__input">
            <button class="saveButton" *ngIf="socialUpdate">Сохранить</button>
        </div>
        <div (click)="exit()" style="color: #FE5151; font-weight: bold; font-size: 24px; cursor: pointer; margin-top: 45px;">Выйти</div>
    </div>
</div>

<ng-container *ngIf="loading">
    <tui-loader style="margin-top: 350px;" [showLoader]="loading"></tui-loader>
</ng-container>