<div class="profile" *ngIf="!loading">
    <div class="profile__container">
        <h1 class="profile__title">Мой профиль</h1>
        <div class="profile__wrapper">
            <div class="profile__avatar"></div>
            <div class="profile__block">
                <div class="profile__subtitle">Пользователь</div>
                <div *ngIf="!nameUpdate" class="profile__forchange" (click)="nameUpdate = true">
                    {{profile?.name?.lastName}} {{profile?.name?.firstName}} {{profile?.name?.patronymic}}</div>
                <input *ngIf="nameUpdate" class="profile__input profile__input_name" #name>
                <button class="profile__save" *ngIf="nameUpdate" (click)="updateUsername()">Сохранить</button>
            </div>
            <div class="profile__block">
                <div class="profile__subtitle">Контакты</div>
                <div *ngIf="!phoneUpdate" class="profile__forchange" (click)="phoneUpdate = true">
                    {{profile?.phoneNumber}}</div>
                <input *ngIf="phoneUpdate" class="profile__input" #phone>
                <button class="profile__save" *ngIf="phoneUpdate" (click)="updatePhone()">Сохранить</button>
            </div>
            <div class="profile__block">
                <div class="profile__subtitle">Контакты</div>
                <div *ngIf="!socialUpdate" class="profile__forchange" (click)="socialUpdate = true">
                    {{profile?.socialNetwork}}</div>
                <input *ngIf="socialUpdate" class="profile__input" #social >
                <button class="profile__save" *ngIf="socialUpdate" (click)="socialUpdating()">Сохранить</button>
            </div>
            <div class="profile__btn" (click)="exit()">Выйти</div>
        </div>
    </div>
</div>

<ng-container *ngIf="loading">
    <tui-loader style="margin-top: 350px;" [showLoader]="loading"></tui-loader>
</ng-container>