.room {
    border-left: 6px solid #FE7451;
    background-color: #fff;
    height: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    line-height: 20px;
    padding: 18px 0 30px 47px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    &__arrow {
        position: absolute;
        top: calc(50% - 2px);
        right: 38px;
        cursor: pointer;
    }

    &__id {
        font-size: 18px;
        color: #767676;
        margin-bottom: 35px;
    }

    &__title {
        font-size: 24px;
        padding-top: 20px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .room {
        padding: 20px;

        &__title {
            width: auto;
        }

        &__arrow {
            display: none;
        }
    }

    .popup {
        position: absolute;
        top: 0;
        right: -25px;
    }
}