<div class="container">
    <div class="container__title">
        {{title}}
    </div>
    <div class="container__description">
        {{description}}
    </div>
    <div class="container__svg__triangle">
        <svg width="33" height="28" viewBox="0 0 33 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M16.4379 10.385V15.0461M16.4379 19.52V20.06M4.50884 26H27.6403C29.9854 26 31.4237 23.4303 30.1976 21.4314L18.9298 3.06224C17.775 1.17967 15.0506 1.14802 13.8524 3.00326L1.98874 21.3724C0.69948 23.3686 2.13248 26 4.50884 26Z"
                stroke="#FFDFB4" stroke-width="3" stroke-linecap="round" />
        </svg>
    </div>

    <div class="container__svg__circle">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 10.5V15.5M15 20V20.5" stroke="#FFDFB4" stroke-width="3" stroke-linecap="round" />
            <circle cx="15" cy="15" r="13.5" stroke="#FFDFB4" stroke-width="3" />
        </svg>
    </div>

    <div class="container__svg__point">
        <svg width="4" height="14" viewBox="0 0 4 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2V7M2 11.5V12" stroke="#FFDFB4" stroke-width="3" stroke-linecap="round" />
        </svg>
    </div>
</div>