.project-details {
    &__head {
        background: #F2F0FF;
        border-radius: 5px;
        margin: 48px 24px 96px 24px;
        box-sizing: border-box;

        &__title {
            padding: 48px 0px 48px 48px;
            font-size: 48px;
            width: 60%;
            line-height: 59px;
            font-weight: 700;
        }

    }

    &__description {
        color: #565656;
        font-size: 24px;
        margin-left: 72px;
        margin-bottom: 96px;
    }

    &__desc {
        font-weight: 700;
        font-size: 32px;
        color: #000000;
        margin-left: 72px;
        margin-bottom: 32px;

    }

    &__criteria {
        font-weight: 700;
        font-size: 32px;
        color: #000000;
        margin-left: 72px;
        margin-bottom: 32px;
    }

    &__grade {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__grade-current {
        font-size: 18px;
    }

    &__scale {
        width: 100%;
        height: 20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        margin-bottom: 48px;
    }

    &__linear {
        width: 0%;
        height: 100%;
        background-color: #17F5B3;
    }

    &__actions {
        // display: flex;
        // justify-content: flex-start;
        margin-left: 72px;
        margin-right: 72px;
        margin-bottom: 32px;
    }

    &__edit {
        color: #7256FD;
        font-size: 24px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 14px 24px;
        cursor: pointer;
        font-weight: 700;
    }

    &__description-title {
        margin-top: 60px;
        margin-left: 72px;
        color: #000000;
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 32px;
    }

    &__delete {
        color: #FE5151;
        font-weight: bold;
        font-size: 24px;
    }

    &__criteria-list {
        margin-left: 72px;
        color: #565656;
        font-size: 24px;
        margin-bottom: 96px;

        div {
            margin-bottom: 20px;
        }
    }


    &__upload-work {
        font-weight: 700;
        font-size: 24px;
        color: #fff;
        height: 48px;
        background: #7256FD;
        border-radius: 5px;
        padding: 14px 24px 14px 24px;
        margin-left: 72px;
        cursor: pointer;
    }

    &__download {
        background: #7256FD;
        border-radius: 5px;
        padding: 14px 24px;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        // margin-left: 24px;
        width: 110px;
        text-align: center;
        cursor: pointer;
    }
}

.upload {
    font-size: 24px;
    color: #7256FD;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .project-details {
        &__title {
            margin: 40px 0 45px;
            font-size: 60px;
            line-height: 76px;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .project-details {
        display: block;

        &__title {
            margin: 20px 0;
            font-size: 36px;
            line-height: 48px;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 20px;
        }
    }
}