@import 'general-vars.global.scss';

.modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-modal;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalOverlay {
    position: fixed;
    background: rgba(55, 58, 71, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-overlay;
    pointer-events: auto;
}

.modalOverlay_transparent {
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-overlay;
}

.dialog {
    width: 388px;
    position: fixed;
    z-index: 9;
    right: 0;
    bottom: 0;
    background-color: rgba(29, 39, 48, 0.85);
    font-size: 14px;
    font-family: $regular;
    line-height: 1.4;
    box-shadow: 0 0 32px rgba(65, 129, 153, 0.2);
    padding: 25px 40px 25px 62px;
    // @include transition(background-color 0.3s ease);

    &:hover {
        background-color: #1d2730;
    }

    &.isError {
        .dialog__title {
            color: #fd6361;

            &::before {
                content: '';
                // @include svg('~src/Content/images/svg/dialog-error.svg', 28px, 28px);
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translate(0,-50%);
            }
        }
    }

    &.isSuccess {
        .dialog__title {
            color: #91dc5a;

            &::before {
                content: '';
                // @include svg('~src/Content/images/svg/dialog-success.svg', 28px, 28px);
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translate(0,-50%);
            }
        }
    }

    &.isInfo {
        .dialog__title {
            color: #ff8427;

            &::before {
                content: '';
                // @include svg('~src/Content/images/svg/dialog-message.svg', 28px, 22px);
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translate(0,-50%);
            }
        }
    }
}

.dialog__close {
    position: absolute;
    top: 12px;
    right: 11px;
    cursor: pointer;
    // @include svg('~src/Content/images/svg/cross_white.svg', 14px, 14px);
}

.dialog__title {
    font-size: 17px;
    position: relative;
}

.dialog__message {
    color: rgba(255,255,255,0.75);
    margin: 8px 0 0 0;
}

.dialog_confirm__layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dialog_confirm_overlay_bg;
    z-index: $dialog_confirm_overlay_z-index;
}

.dialog_confirm {
    position: fixed;
    background-color: $bg-global;
    z-index: $dialog_confirm_z-index;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 200px;              //при нечётной высоте translate мылит элемент
    width: 410px;
    text-align: center;
    padding: 30px 25px;
    //margin: 0 0 0 -205px;
}

.dialog_confirm__title {
    font-size: 20px;
    margin: 0 0 15px 0;
    font-family: $ff_dialog_confirm;
}

.dialog_confirm__message {
    line-height: 1.5;
}

.dialog_confirm__message_margin {
    margin: 0 0 15px 0;
}
x
.dialog_confirm__message_medium {
    font-family: $medium;
}

.dialog_confirm__btn {
    font-size: 14px;
    margin: 30px 0 0 0;
    justify-content: center;
}
