<div class="routing">
    <app-breadcrumbs [color]="'#7256FD'"></app-breadcrumbs>
</div>

<div class="wrapper">
    <div class="wrapper__main">
        <div class="room-details-info" *ngIf="room$ | async as room">
            <div class="room-details-info__menu">
                <ul class="room-details-info__list">
                    <li class="room-details-info__item" [routerLink]="['info']" routerLinkActive="is-active">
                        Комната
                    </li>
                    <li class="room-details-info__item" [routerLink]="['evaluate']" routerLinkActive="is-active">
                        Оценить работы
                    </li>
                    <li class="room-details-info__item" routerLinkActive="is-active" [routerLink]="['done']">
                        Выполненные задания
                    </li>
                    <li class="room-details-info__item" style="margin-top: 90px; color: #FE5151;" (click)="leaveRoom()">
                        Покинуть комнату
                    </li>
                </ul>
            </div>
        </div>

        <div class="info">
            <skeleton>
                <div main-content class="info__main">
                    <router-outlet></router-outlet>
                </div>

                <div skeleton-content class="info__skeleton">
                    <div class="info__skeleton__header"></div>
                    <div class="info__skeleton__flex">
                        <div class="info__skeleton__flex__item"></div>
                        <div class="info__skeleton__flex__item"></div>
                        <div class="info__skeleton__flex__item"></div>
                        <div class="info__skeleton__flex__item"></div>
                        <div class="info__skeleton__flex__item"></div>
                    </div>
                </div>
            </skeleton>
        </div>
    </div>

    <div class="wrapper__footer">
        <img src="assets/icons/long-logo.svg">
    </div>
</div>