<div class="main-page">
    <div class="main-page__wrapper">
        <div  *ngIf="filteredRooms.length || notFoundRooms" class="main-page__create" (click)="createRoom()">Создать комнату</div>
        <div class="main-page__actions" *ngIf="filteredRooms.length || notFoundRooms">
            <div (click)="sort()" class="main-page__sort">
                Сортировать<span class="main-page__sort-icon" [ngClass]="{'top': !sortDown, 'down': sortDown}"></span>
            </div>
            <div>
                <div class="search-container">
                    <input #text type="text" id="search-bar" placeholder="Поиск" (input)="filterItems(text.value)">
                    <div class="search-container__icon">
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="filteredRooms.length && !notFoundRooms">
            <div *ngFor="let i of filteredRooms; last as l; let ind = index" class="main-page__item">
                <div [ngClass]="{'is-last': l}">
                    <room-item [roomCount]="ind" [title]="i.title" [roomId]="i.id" (click)="toDetails(i.id)">
                    </room-item>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!filteredRooms.length && notFoundRooms">
            <h1>Поиск не дал результатов</h1>
        </ng-container>
    </div>
</div>

<!-- <div class="room"> -->
    <div class="main-page__empty">
        <ng-container *ngIf="!filteredRooms.length && !notFoundRooms && !loading">
            <div class="main-page__alert">
                У Вас еще нет ни одной комнаты
            </div>
            <div class="main-page__container">
                <button tuiButton type="button" appearance="accent" class="main-page__button"
                    (click)="createRoom()">
                    Создать комнату
                </button>
            </div>
        </ng-container>
    </div>
<!-- </div> -->