.room-information {
    &__head {
        background: #F2F0FF;
        border-radius: 5px;
        margin: 48px 24px 96px 24px;
        box-sizing: border-box;

        &__title {
            padding: 48px 0px 0px 48px;
            font-size: 48px;
            width: 60%;
            line-height: 59px;
        }

        &__description {
            padding: 48px 0px 48px 48px;
            font-size: 24px;
        }
    }

    &__tasks {
        margin: 0 24px 0 24px;
    }


    &__subtitle {
        font-size: 32px;
        line-height: 28px;
        font-weight: 700;
        margin: 0 0 50px 72px;
    }

    &__empty {
        font-size: 32px;
        margin: 0px 0 0px 72px;
        font-weight: 500;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .room-information {

        &__head {
            &__title {
                font-size: 36px;
                line-height: 40px;
            }
        }

        &__header {
            margin-bottom: 34px;
        }

        

        &__code {
            display: none;
        }

        &__subtitle {
            margin-left: 30px;
        }

        &__current-task {
            font-size: 24px;
            margin-left: 30px;
        }
    }
}
