<div class="create-room" [formGroup]="controlsGroup">
    <h1 class="create-room__title">Создать комнату</h1>
    <div>
        <tui-input class='create-room__field' formControlName="projectName">
            Название комнаты
            <input tuiTextfield placeholder="" type="text" />
        </tui-input>
    </div>
    <div>
        <tui-input class='create-room__field' formControlName="projectDescription">
            Описание комнаты
            <input tuiTextfield placeholder="" type="text" />
        </tui-input>
    </div>
    <div>
        <button tuiButton type="button" [disabled]="!controlsGroup.valid" appearance="accent" class="create-room__button" (click)="createRoom()">
            Создать комнату
        </button>
    </div>
</div>