.create-room {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0 100px;

    &__title {
        margin: 0;
        margin-bottom: 60px;
        font-size: 80px;
        line-height: 96px;
    }

    &__field,
    &__field {
        border-radius: 0px;
        margin-bottom: 16px;
    }

    &__button {
        width: 100%;
        border-radius: 0px;
        margin-top: 20px;
        margin-bottom: 110px;
        height: 70px;
        font-size: 18px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .create-room {
        padding-top: 30px;
        &__title {
            margin-bottom: 34px;
            font-size: 36px;
            line-height: 40px;
        }
    }
}
