<div class="room__empty" [formGroup]="controlsGroup">
    <div class="room__empty__alert">
        Добавить комнату
    </div>
    <div class="room__empty__container">
        <div>
            <tui-input class='room__empty__code_field' formControlName="code">
                Введите код комнаты
                <input tuiTextfield placeholder="" type="text" />
            </tui-input>
        </div>

        <div>
            <button tuiButton type="button" appearance="primary" class="room__empty__button_login"
                (click)="joinRoom()">
                Войти
            </button>
        </div>
    </div>
</div>